In [16]:
import pandas as pd

In [17]:
DataV1 = pd.read_csv('Data/avito_cars_data(7).csv')
DataV2 = pd.read_csv('Data/avito_cars_data(8).csv')

In [18]:
DataSet = pd.concat([DataV1 , DataV2] , ignore_index=True)

In [19]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72295 entries, 0 to 72294
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             72295 non-null  object
 1   type_boit       46959 non-null  object
 2   type_carburant  46913 non-null  object
 3   kilometrage     46913 non-null  object
 4   marke           46913 non-null  object
 5   model           46913 non-null  object
 6   puissance       46959 non-null  object
 7   price           47437 non-null  object
dtypes: object(8)
memory usage: 4.4+ MB
None

In [28]:
DataSet = DataSet.dropna(subset=['price'])
DataSet = DataSet.dropna(subset=['type_boit'])
DataSet = DataSet.dropna(subset=['type_carburant'])
DataSet = DataSet.dropna(subset=['kilometrage'])
DataSet = DataSet.dropna(subset=['marke'])
DataSet = DataSet.dropna(subset=['model'])
DataSet = DataSet.dropna(subset=['puissance'])
DataSet = DataSet.dropna(subset=['price'])

In [31]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29836 entries, 2 to 72294
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             29836 non-null  object
 1   type_boit       29836 non-null  object
 2   type_carburant  29836 non-null  object
 3   kilometrage     29836 non-null  object
 4   marke           29836 non-null  object
 5   model           29836 non-null  object
 6   puissance       29836 non-null  object
 7   price           29836 non-null  object
dtypes: object(8)
memory usage: 2.0+ MB
None

In [62]:
print(DataSet)

                                                     url    type_boit  \
2      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...     Manuelle
4      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...  Automatique
6      https://www.avito.ma/fr/2_mars/voitures_d'occa...     Manuelle
7      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...  Automatique
9      https://www.avito.ma/fr/route_d'immouzere/voit...     Manuelle
...                                                  ...          ...
72286  https://www.avito.ma/fr/khouribga/voitures_d'o...     Manuelle
72288  https://www.avito.ma/fr/ahlane/voitures_d'occa...     Manuelle
72291  https://www.avito.ma/fr/khemisset/voitures_d'o...  Automatique
72292  https://www.avito.ma/fr/sidi_maarouf/voitures_...  Automatique
72294  https://www.avito.ma/fr/californie/voitures_d'...  Automatique

      type_carburant        kilometrage          marke     model puissance  \
2             Diesel    40 000 - 44 999        Peugeot       208      6 CV
4            Essence    90 000 - 94 999         Nissan   Qashqai      8 CV
6             Diesel  170 000 - 179 999        Renault    Megane      7 CV
7             Diesel    90 000 - 94 999          Dacia    Duster      7 CV
9             Diesel    95 000 - 99 999        Renault      Clio      6 CV
...              ...                ...            ...       ...       ...
72286         Diesel    30 000 - 34 999        Citroen        C4      6 CV
72288         Diesel  110 000 - 119 999        Peugeot       208      6 CV
72291         Diesel  130 000 - 139 999     Volkswagen    Tiguan      8 CV
72292         Diesel  190 000 - 199 999     Volkswagen   Touareg     12 CV
72294         Diesel    15 000 - 19 999  Mercedes-Benz  Classe A      8 CV

            price
2      174 000 DH
4      239 000 DH
6       75 000 DH
7      194 000 DH
9      113 000 DH
...           ...
72286   95 000 DH
72288  124 000 DH
72291  233 000 DH
72292  138 000 DH
72294  430 000 DH

[29836 rows x 8 columns]