In [234]:
import pandas as pd

In [246]:
DataV1 = pd.read_csv('Data/avito_cars(2).csv')
DataV2 = pd.read_csv('Data/avito_cars(3).csv')
DataV3 = pd.read_csv('Data/avito_cars(4).csv')

In [247]:
DataSet = pd.concat([DataV1 , DataV2 , DataV3] , ignore_index=True)

In [248]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94311 entries, 0 to 94310
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  94311 non-null  object
 1   type_boit            92054 non-null  object
 2   type_carburant       92000 non-null  object
 3   kilometrage          91967 non-null  object
 4   marke                91965 non-null  object
 5   model                91870 non-null  object
 6   puissance            91623 non-null  object
 7   price                71486 non-null  object
 8   has_abs              94311 non-null  int64
 9   has_airbags          94311 non-null  int64
 10  has_bluetooth_audio  94311 non-null  int64
 11  has_rear_camera      94311 non-null  int64
 12  has_ac               94311 non-null  int64
 13  has_esp              94311 non-null  int64
 14  has_alloy_wheels     94311 non-null  int64
 15  has_speed_limiter    94311 non-null  int64
 16  has_trip_computer    94311 non-null  int64
 17  has_parking_sensor   94311 non-null  int64
 18  has_cruise_control   94311 non-null  int64
 19  has_leather_seats    94311 non-null  int64
 20  has_gps              94311 non-null  int64
 21  has_sunroof          94311 non-null  int64
 22  has_remote_locking   94311 non-null  int64
 23  has_power_windows    94311 non-null  int64
dtypes: int64(16), object(8)
memory usage: 17.3+ MB
None

### Remove None Values

In [249]:
DataSet = DataSet.dropna(subset=['price'])
DataSet = DataSet.dropna(subset=['type_boit'])
DataSet = DataSet.dropna(subset=['type_carburant'])
DataSet = DataSet.dropna(subset=['kilometrage'])
DataSet = DataSet.dropna(subset=['marke'])
DataSet = DataSet.dropna(subset=['model'])
DataSet = DataSet.dropna(subset=['puissance'])
DataSet = DataSet.dropna(subset=['price'])

In [250]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
Index: 69207 entries, 3 to 94309
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  69207 non-null  object
 1   type_boit            69207 non-null  object
 2   type_carburant       69207 non-null  object
 3   kilometrage          69207 non-null  object
 4   marke                69207 non-null  object
 5   model                69207 non-null  object
 6   puissance            69207 non-null  object
 7   price                69207 non-null  object
 8   has_abs              69207 non-null  int64
 9   has_airbags          69207 non-null  int64
 10  has_bluetooth_audio  69207 non-null  int64
 11  has_rear_camera      69207 non-null  int64
 12  has_ac               69207 non-null  int64
 13  has_esp              69207 non-null  int64
 14  has_alloy_wheels     69207 non-null  int64
 15  has_speed_limiter    69207 non-null  int64
 16  has_trip_computer    69207 non-null  int64
 17  has_parking_sensor   69207 non-null  int64
 18  has_cruise_control   69207 non-null  int64
 19  has_leather_seats    69207 non-null  int64
 20  has_gps              69207 non-null  int64
 21  has_sunroof          69207 non-null  int64
 22  has_remote_locking   69207 non-null  int64
 23  has_power_windows    69207 non-null  int64
dtypes: int64(16), object(8)
memory usage: 13.2+ MB
None

### Remove Duplicate Values

In [251]:
DataSet = DataSet.drop_duplicates(subset='url', keep='first')

In [252]:
DataSet = DataSet.reset_index()

### Cleaning Price

In [253]:
DataSet['price'] = DataSet['price'].str.replace('DH', '', regex=False).str.replace('\u202f' , '').str.replace(' ' , '').astype(float)

### Cleaning Kilometrage

In [267]:
DataSet = DataSet[~DataSet['kilometrage'].isin(['Mitsubishi', 'BYD' , 'Skoda' , 'BMW' , 'Volvo' ,'Chevrolet', 
 'Dacia' , 'Renault'   , 'Volkswagen'  , 'Fiat' , 'Peugeot' , 'Audi' , 'Mercedes-Benz' ,     'Citroen', 
'Opel' , 'Toyota' , 'Ford'  , 'Seat' , 'Kia', 'Honda', 
'Hyundai',                 
'Mini',                    
'Land Rover' ,               
'Nissan',                  
'Alfa Romeo'                                                               
])]

In [269]:
def clean_kilometrage_column(row):
        parts = row.split('-')
        kilometrage = []
        for k in parts:
            if 'Plus de' in k:
                  k = k.replace('Plus de', '')  
            ki = k.replace(' ', '')
            ki = int(ki)
            kilometrage.append(ki)
        return kilometrage
        
DataSet['kilometrage'] = DataSet['kilometrage'].apply(clean_kilometrage_column)

### Cleaning Puissance

In [270]:
def clean_puissance_column(row):
    if 'Plus de' in row:
            row = row.replace('Plus de', '')  
    row = row.replace('CV', '')
    row = row.replace(' ', '')
    row = int(row)
    return row
DataSet['puissance'] = DataSet['puissance'].apply(clean_puissance_column)

In [299]:
DataSet['type_carburant'] = DataSet['type_carburant'].str.lower()
print(DataSet['type_carburant'].unique())
print(DataSet.groupby('type_carburant')['type_carburant'].value_counts())

['essence' 'diesel' 'hybride' 'electrique' 'lpg']
type_carburant
diesel        50899
electrique      168
essence       12571
hybride         659
lpg              36
Name: count, dtype: int64

In [297]:
DataSet['type_boit'] = DataSet['type_boit'].str.lower()
print(DataSet['type_boit'].unique())

['manuelle' 'automatique']

In [ ]:
DataSet['marke'] = DataSet['marke'].str.lower()
print(DataSet['marke'].unique())

['opel' 'kia' 'volkswagen' 'toyota' 'mercedes-benz' 'dacia' 'honda'
 'hyundai' 'ford' 'land rover' 'citroen' 'renault' 'peugeot' 'jeep' 'bmw'
 'jaguar' 'seat' 'nissan' 'mitsubishi' 'chevrolet' 'ssangyong' 'fiat'
 'alfa romeo' 'audi' 'skoda' 'mahindra' 'cupra' 'chery' 'mini' 'porsche'
 'tesla' 'maserati' 'foton' 'volvo' 'bentley' 'abarth' 'daihatsu' 'subaru'
 'suzuki' 'ds' 'mazda' 'lexus' 'dfsk' 'changan' 'gmc' 'mg' 'lancia' 'faw'
 'geely' 'isuzu' 'rover' 'iveco' 'autres' 'infiniti' 'daewoo' 'cadillac'
 'chrysler' 'tata' 'dodge' 'byd' 'gwm motors' 'gaz' 'smart' 'seres'
 'zotye' 'changhe' 'ferrari' 'hummer' 'lifan' 'ac' 'ufo' 'rolls-royce'
 'lada']

In [303]:
print(DataSet['model'].unique())

['Adam' 'Picanto' 'Golf 7' 'Corolla' 'Golf 2' 'GLB' 'Dokker' 'CR-V'
 'Accent' 'Logan' 'Classe A' 'Kuga' 'Yaris' 'Range Rover Sport' 'C5'
 'Focus' 'C4' 'Megane' 'Range Rover Vogue' 'Classe E' 'Sandero' '2008'
 'Sportage' 'Duster' 'Touareg' 'Grand Cherokee' 'Série 1' 'Passat' 'C-HR'
 'Série 5' 'X-Type' 'Tepee' 'Boxer' 'Polo' 'Leon' 'Caddy'
 'Range Rover Velar' 'Fiesta' 'Micra' 'L200' 'Spark' 'Combo' 'Kyron' '500'
 'Golf 6' 'X5' 'Tiguan' 'Giulietta' 'Q3' 'Octavia' '301' '208' 'C-Elysée'
 'i30' '5008' 'Berlingo' 'Fiorino' 'Tucson' 'Touran' 'Captur' '3008'
 'E-Pace' '220' 'Jetta' 'Scenic' 'Range Rover' 'Compass' 'Outlander'
 'Ecosport' 'Classe GLC' 'KUV 100' 'Wrangler' 'Passat CC' 'Arona' 'Hilux'
 'Tipo' 'Range Rover Evoque' '308' 'C3' 'Corsa' 'Tiggo' 'Clio' 'Cooper'
 'RAV 4' 'Golf 8' 'Classe GLA' 'Classe S' 'Cayenne' 'Navara' 'Kodiaq'
 'Talisman' 'Renegade' 'Model 3' 'Cherokee' 'ix35' 'XF' 'Q5' 'Série 4'
 'Santa Fe' 'Lodgy' 'Levante' 'Express' 'T-Roc' 'Ateca' 'Classe C'
 'Classe G' 'Formentor' 'Discovery' 'Mondeo' 'Série 6' 'Classe ML'
 'Série 7' 'A6' 'Q8' 'Creta' 'A5' 'Golf 5' 'A8' 'Panamera' 'Astra' 'A3'
 'Carens' 'Koleos' 'Mokka' 'i20' 'X-Trail' 'Q7' '407' 'Forland' 'i10'
 'Panda' '106' 'Juke' 'Sorento' 'Ghibli' 'Qashqai' 'Crossland' 'X3' 'XC90'
 'Karoq' 'Twizy' 'Classe CLA' 'Continental S' '595' 'K5' 'Super 5' 'YRV'
 'Ka' 'Master' 'R5' '206' 'Cerato' 'Fullback' 'ix55' 'Mini Coupé' 'One'
 'Doblo' '508' '306' 'Legacy' 'X4' 'Palio' 'Arteon' 'A4' 'Ibiza' 'Ceed'
 'Gol' 'Grand Vitara' 'DS7' 'Twingo' 'Uno' '500C' 'V40' 'Partner' 'XC40'
 'Bayon' 'S60' '500X' '207' 'Kangoo' 'Superb' 'XC60' 'Macan' 'Defender'
 'Niro' 'Tonale' 'Austral' 'Fusion' 'X6' 'Ranger' 'Altea' 'Stelvio'
 'Giulia' 'S40' '309' 'Avenger' 'Freelander' 'Swift' 'Note' 'Prado'
 'Mustang' 'Classe GLE' 'Classe CLS' '911' 'H-100' 'DS' 'Arkana' 'Mazda 2'
 'Elantra' 'Kadjar' 'S90' 'Ioniq 5' 'X1' 'Ioniq Hybrid' 'Série 3' 'F-Pace'
 'LS' '250' 'Siena' 'HR-V' 'Golf 4' 'XJ' 'C15' 'Q2' 'Grandland' 'XE' 'Eos'
 'EQE' 'Golf 3' 'Glory 500' '14' 'Classe B' 'Laguna' '4C' 'Civic' '400'
 'Maruti' 'Punto' '405' 'Carry' 'Coccinelle' 'Kona' 'Korando' 'Symbol'
 'Kadett' '504' 'Celerio' 'Transit' '190' 'Aveo' '205' 'Saxo' 'Lancer'
 'Hi Ace' '12' 'Alto' 'SX 4' 'DS4' '406' 'Multipla' 'S80' 'Logo' 'Accord'
 '240' 'Rexton' '19' 'Genesis' 'Ami' 'Model Y' '307' 'Jolion' 'Cruze'
 'Mito' 'Corolla Verso' 'Freemont' 'Yukon' '270' 'MG3' 'Pajero Sport' 'A7'
 'ES' 'Thema' 'Land Cruiser' 'Ducato' 'X40' 'Corolla Cross' 'Classe GL'
 'Captiva' 'Rifter' 'Glory 580' 'Glory IX5' '230' 'i40' '500L' 'B-Max'
 'COOLRAY' '159' 'Modus' 'Opirus' 'Sonata' 'Lantra' 'Pathfinder'
 'CountryMan' 'C1' 'Sirion' 'Yeti' 'R4' 'Sharan' 'I.D.Crozz' 'C-Max'
 'Vel Satis' 'Auris' 'Grand Scenic' 'Verso' 'Bora' 'Vito' 'Albea' 'C30'
 'S70' 'Proceed' 'K05' 'S-cross' 'X2' 'Grand Espace' 'Jazz' '350Z' 'Optra'
 'Atos' 'Landwind' '607' 'Insignia' '80' 'Bipper' 'R9' '404' 'Jimny'
 'Pick up' 'Golf Plus' 'Espace' 'Hover' 'City' 'Discovery Sport' 'Xsara'
 'Mazda 5' 'Rio' 'Tempra' 'Delta' '147' 'Rapid' 'Ypsilon' 'i3'
 'Classe GLK' 'Vento' 'R11' 'Zafira' 'Zoe' '107' 'Solenza' 'Serie 400'
 'Altea XL' 'Connect' 'R18' 'Grande Punto' 'Almera' 'Getz' 'Daily'
 'Orlando' 'Pajero' 'Felicia' 'DS5' 'MG5' 'Stavic' 'Latitude' 'Escort'
 'Autres' 'FX35' 'Cordoba' 'Kamiq' 'Fabia' 'Actyon' 'Matiz' 'C2' 'Fluence'
 'Escalade' 'K01' 'QQ' 'Seltos' 'D-Max' 'Classe CLC' 'R19' 'Baleno'
 'Mohave' 'New Beetle' 'Trafic' '16' 'H-1' '207D' 'Avensis' 'Scudo'
 'Prius' 'K2700' 'K01h' 'XG' 'Sprinter' 'A1' '310D' 'Family' 'Vitara'
 'Murano' '560' 'Tiida' 'BT-50' 'Chaser' 'Scorpio' 'Sebring' 'Mazda 6'
 'Sonet' 'Classe V' 'NX' 'Xenon' 'Bravo' 'Agila' 'Xantia' 'Toledo' 'Lanos'
 'Scala' 'Série 2' 'J5' 'Aygo' 'Optima' 'Super cab' '280' 'Landtrek'
 'Alero' 'Antara' 'Grandis' 'Talento' 'X7' 'SM' 'County' 'Transporter'
 'Vectra' 'Sunny' 'Terios' 'Caravelle' 'Tourneo' 'Campo' 'Lexus' 'Soul'
 'F-Type' 'K2500' 'Evalia' 'Copen' 'Fortuner' 'Terrano' '2 CV' 'AX' 'CX-5'
 'Meriva' 'Coupe' 'MG4' 'GT' 'LC' 'Boss' 'Amarok' '108' 'A113' 'Aerio'
 'Canter' 'Veracruz' 'raptor' '600e' 'Caliber' 'Wagon R' 'iX3'
 'Classe CLK' '300' 'Stilo' 'Dzire' 'Mazda 3' 'Kubistar' 'Hatch' 'HS Phev'
 'R21' 'Primera' 'F3' 'Astro' 'Seres 3' 'Florid' '166' 'Prelude' 'K01s'
 'A516' 'Next Van' 'Cougar' '75' 'Tercel' 'DS3' 'Urban Cruiser' '403'
 'Liberty' 'Citan' 'AMG GT' 'Colt' 'Vigor' 'Bedford' 'E-Golf' 'Brava'
 'R25' 'Stinger' 'Spring' 'A2' 'Nemo' 'Viano' 'Acty' 'Fox' 'Model S'
 '124 Spider' 'Tigra' 'Serie 200' 'Avantime' 'Q4 e-tron' 'Série 8' '408'
 'ForTwo' 'Everest' 'Maxima' 'Legend' '4008' 'Expert' 'TM' 'Odyssey' '156'
 'Frontera' 'Galaxy' 'Nubira SW' 'QQ6' 'CS55' 'Continental GT' 'Classe R'
 'Starlet' 'Scirocco' 'S-Presso' 'BLS' 'Tundra' 'Sonica' 'POER' 'H' 'GTR'
 '104' 'Bertone' 'Terracan' '305' '25' 'Ignis' 'EX35' 'ds7' 'Jumpy'
 'Trooper' 'Movano' 'S-Max' '126' 'Spacetourer' '323' 'Linea' 'J9'
 'Classe SL' 'XLV' '127' 'MX-6' 'Traveller' '210' 'Nomad' '718 Cayman'
 'Carnival' 'Ideal' 'SLS AMG' 'California' 'El Camino' 'Crafter' 'GX3 PRO'
 'Multivan' 'RCZ' '240SX' 'Visa' 'C31' '4007' 'Croma' 'MK-GL' 'Jumper'
 'Calibra' 'Tiggo 7 Pro' 'DS6' 'Inca' 'ZS' 'Veloster' '8C' 'PT Cruiser'
 'Patriot' '4Runner' 'Burstner' 'Nevada' 'C8' 'ZX' 'Smart' '505' '300 C'
 'Impreza' '30' 'Grand Voyager' 'Besta' 'Serie 600' 'Nexia' 'H2' 'CX-9'
 'ix 5' 'Exeo' 'Samsung SM3' 'Golf 1' 'Liana' 'Expedition' 'CX-7'
 'Super Ace' 'BX' 'Alhambra' 'NSX' 'MX-3' 'Classe CL' 'Corona' 'Z3'
 'Excel' 'FX50' 'APV' 'CinqueCento' 'HHR' 'Caprice' 'XUV 500' '605' '807'
 'G35' 'Regata' '155' 'Lacetti' 'Fuego' 'MG HS' 'Brera' 'Edge' 'K01i'
 '806' 'Urvan' 'Ritmo' 'Vaneo' 'Galloper' 'Nativa' 'Sephia' 'Arosa'
 'Arnage' 'Patrol' 'Tribeca' 'Lupo' 'ID.3' 'Phaeton' 'Camaro' 'Victoria'
 'Fleetwood' 'Roomster' 'Kicks' '1007' 'V525' 'Splash' 'UP' 'V60' 'H-200'
 '45' 'Evanda' 'CTS' '320' '410' 'Satellite' 'GT 40' 'Tarraco' 'Concerto'
 '300 M' 'Trajet' 'C6' 'GK-GT' 'Rogue' 'GS 350' 'V90' 'C-Crosser' 'Cayman'
 '608' '131' 'Serena' 'CMP' 'Espero' '412' 'Vios' 'CX' 'Classe GLS'
 'Parati' 'X-90' 'TT' 'Classe SLK' 'Tivoli' 'Boxster' 'F350' 'e-tron'
 'Rodius' 'S-Type' 'Courrier' 'Next' 'Tahoe' 'Kalos' 'C35' 'RX' 'Sovreign'
 'Omega' 'F1' 'Pick-Up' 'Trakker' 'Escape' 'Wingle 5' 'Serie 800' 'Vivaro'
 'Crown Victoria' 'Centennial' '145' 'Kaisser' 'Samurai' 'SeiCento'
 'Barchetta' 'Pregio' 'XLR' 'Ciaz' '626' 'Insight' 'Aerodeck' 'XL7'
 'Ascona' 'MR' 'Capri' 'Serie 100' 'Cobra' 'E2000' '260' 'SD1'
 'Trans Sport' 'FJ' 'DTS' 'Primastar' 'RV3' 'Taycan' 'Epica' 'Versa' 'C70'
 'Estafette' 'F150' 'MB' 'Wraith' 'Suburban' 'Carina' 'Corvette' 'iX'
 'Safrane' 'Thing' 'SSR' '2107' 'Minibus' 'V70' 'Altima' 'Uplander'
 'MK-GT' 'Karman' 'CR8' 'Streetwise' 'Clubman' 'Marea' '200' 'Utilitaire'
 'Picnic' 'GK-GL' 'Rekord' '304' 'BK' 'Ceo' 'B110' 'Avalanche'
 'Quattroporte' 'Cadenza' 'DeVille' '204' 'C25' 'B 2500' 'Model X'
 'Quoris' 'Seven' 'Matrix' 'Metro' 'Commander' 'Tino' 'CJ5' 'Stream'
 'Orion']