In [2]:
import pandas as pd

In [3]:
DataV1 = pd.read_csv('Data/avito_cars_data(7).csv')
DataV2 = pd.read_csv('Data/avito_cars_data(8).csv')
DataV3 = pd.read_csv('Data/avito_cars_data(9).csv')

In [4]:
DataSet = pd.concat([DataV1 , DataV2 ,DataV3 ] , ignore_index=True)

In [5]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87103 entries, 0 to 87102
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             87103 non-null  object
 1   type_boit       54804 non-null  object
 2   type_carburant  54758 non-null  object
 3   kilometrage     54758 non-null  object
 4   marke           54758 non-null  object
 5   model           54758 non-null  object
 6   puissance       54804 non-null  object
 7   price           56135 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB
None

In [6]:
DataSet = DataSet.dropna(subset=['price'])
DataSet = DataSet.dropna(subset=['type_boit'])
DataSet = DataSet.dropna(subset=['type_carburant'])
DataSet = DataSet.dropna(subset=['kilometrage'])
DataSet = DataSet.dropna(subset=['marke'])
DataSet = DataSet.dropna(subset=['model'])
DataSet = DataSet.dropna(subset=['puissance'])
DataSet = DataSet.dropna(subset=['price'])

In [7]:
print(DataSet.info())

<class 'pandas.core.frame.DataFrame'>
Index: 34702 entries, 2 to 87102
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             34702 non-null  object
 1   type_boit       34702 non-null  object
 2   type_carburant  34702 non-null  object
 3   kilometrage     34702 non-null  object
 4   marke           34702 non-null  object
 5   model           34702 non-null  object
 6   puissance       34702 non-null  object
 7   price           34702 non-null  object
dtypes: object(8)
memory usage: 2.4+ MB
None

In [8]:
print(DataSet)

                                                     url    type_boit  \
2      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...     Manuelle
4      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...  Automatique
6      https://www.avito.ma/fr/2_mars/voitures_d'occa...     Manuelle
7      https://www.avito.ma/fr/ain_sebaa/voitures_d'o...  Automatique
9      https://www.avito.ma/fr/route_d'immouzere/voit...     Manuelle
...                                                  ...          ...
87091  https://www.avito.ma/fr/oulfa/voitures_d'occas...  Automatique
87094  https://www.avito.ma/fr/centre/voitures_d'occa...  Automatique
87097  https://www.avito.ma/fr/autre_secteur/voitures...     Manuelle
87101  https://www.avito.ma/fr/autre_secteur/voitures...     Manuelle
87102  https://www.avito.ma/fr/autre_secteur/voitures...     Manuelle

      type_carburant        kilometrage    marke     model puissance  \
2             Diesel    40 000 - 44 999  Peugeot       208      6 CV
4            Essence    90 000 - 94 999   Nissan   Qashqai      8 CV
6             Diesel  170 000 - 179 999  Renault    Megane      7 CV
7             Diesel    90 000 - 94 999    Dacia    Duster      7 CV
9             Diesel    95 000 - 99 999  Renault      Clio      6 CV
...              ...                ...      ...       ...       ...
87091         Diesel  190 000 - 199 999    Honda    Accord      8 CV
87094         Diesel  190 000 - 199 999     Jeep  Cherokee      8 CV
87097         Diesel  190 000 - 199 999  Renault    Kangoo      6 CV
87101         Diesel    55 000 - 59 999     Opel     Corsa      6 CV
87102         Diesel    60 000 - 64 999    Dacia     Logan      6 CV

            price
2      174 000 DH
4      239 000 DH
6       75 000 DH
7      194 000 DH
9      113 000 DH
...           ...
87091  112 000 DH
87094  184 000 DH
87097  110 000 DH
87101  160 000 DH
87102  156 000 DH

[34702 rows x 8 columns]